@import url(https://fonts.googleapis.com/css?family=Inter:500,600);

*{
    margin: 0;
    padding: 0;
}

/* html, body{
    width: 100%;
    height: 100%;
} */

body{
    background-image: url(../img/body__background.png);
    font-family: "Inter", sans-serif;
    color: #fff;
}

.main{
    margin: 50px auto;
    max-width: 1480px;
    padding: 0px 15px; 
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

.block {
    vertical-align: top;
    padding: 40px 0px;
    max-width: 460px;
    /* height:100%;
    display: flex;
    flex-direction: column;
    align-content: space-around; */
}

@media (max-width: 1419px){
    .main{
        max-width: 980px;
    }
    .block{
        max-width: 300px;
    }
}

@media (max-width: 1199px){
    .main{
        max-width: 980px;
    }
    .block{
        max-width: 300px;
    }
}

@media (max-width: 992px){
    .main{
        flex-direction: column;
        max-width: 780px;
    }
    .block{
        max-width: none;
        margin: 50px;
    }
}

@media (max-width: 767px) {
    .main{
        max-width: none;
    }
    .block{
        margin: 15px;
    }
}

h1{
    font-size: 75px;
    line-height: 75px;
    word-wrap: break-word;
    margin-bottom: 65px;
}

h2{
    font-size: 30px;
    line-height: 25px;
    margin: 7px 0px 15px 0px;
    word-wrap: break-word;
}

p, ul, ol{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
}

ul{
    padding-left: 10px;
}

li{
    margin: 10px 0px;
}

.info{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    margin-bottom: 35px;
}

.info__text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.info__logo {
    height: 30px;
    width: 30px;
    
}

.info__heading{
    opacity: 0.6;
}

.skill{
    margin-top: 17px;
}

.skill__progressbar{
    height: 7px;
    background: #555;
}

.skill__progress {
    display: block;
    height: 100%;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.skill__name, .paragraph__description{
    opacity: 0.8;
}

.paragraph{
    margin-bottom: 45px;
}

.right-block {
    position: relative;
    padding: 0px;
    overflow: hidden;
} 

.photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.quote{
    position: absolute;
    bottom: 85px;
    margin: 0px 50px;
}

.quote__text{
    position: relative;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
}

.quote__text::before{
    content: "\“";
    font-family: inherit;
    position: absolute;
    left: -15px;
    top: 0px;
} 

.quote__text::after{
    content: "\”";
}
